@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-container{
  font-family: "inter",sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(51, 51, 51);
  color: white;
  width: 100%;
  font-family: "cabin", sans-serif;
}
.nav-right {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}
ion-icon {
  color: white;
  font-size: 26px;
}
.nav-right-content {
  display: flex;
  gap: 5px;
  align-items: center;
}
.small-line {
  height: 27px;
  width: 1px;
  background-color: #555555;
  margin: 10px;
}
#birla {
  height: 45px;
  width: 45px;
  margin: 8px;
}
.nav-left {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.delivery {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.nav-left select,
option {
  border: none;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 5px;
  outline: none;
}
.nav2 {
  display: inline-block;
  height: 15vh;
  width: 100%;
  padding-bottom: 40px;
  font-family: "cabin", sans-serif;
}
.nav2 span {
  display: inline-block;
}
.a-tags {
  text-decoration: none;
  text-align: center;
  margin-left: 27px;
  margin-right: 5px;
}
#as {
  width: 148px;
  height: 58px;
  margin-left: 20px;
}
input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 10px;
  background-image: url(./images/search-interface-symbol.png);
  background-size: 25px 25px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
  font-size: 12px;
  margin-left: 30px;
}
input::placeholder {
  font-size: 12px;
}
#black-icon {
  color: black;
}
.express {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-radius: 34px;
  width: 193px;
  height: 45px;
  margin-left: 20px;
}
#delivery-lorry {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.express-lorry {
  display: flex;
  align-items: center;
}
.express-text {
  display: flex;
  flex-direction: column;
}
.express-text span {
  font-weight: 300;
  font-size: 12px;
}
.express-text a {
  font-size: 10px;
}
input::placeholder {
  font-size: 16px;
}
.products {
  height: 0vh;
  overflow: hidden;
  gap: 20px;
  display: flex;
  padding-top: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: white;
  position: relative;
  font-size: 13px;
}
.list-container {
  display: flex;
  justify-content: space-between;
  padding-left: 61px;
  width: 40%;
}
.list-container ul,
li {
  list-style: none;
  line-height: 18px;
}
.product-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-img1 {
  background-image: url(./images/38-62469-14745.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 40px;
}
.product-img2 {
  background-image: url(./images/38-62470-14746.png);
  background-position: center;
  background-size: cover;
}
.product-img3 {
  background-image: url(./images/38-62471-14744.png);
  background-position: center;
  background-size: cover;
}
.product-img4 {
  background-image: url(./images/38-62472-14971.png);
  background-position: center;
  background-size: cover;
}

.product-img {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
}
.product-images-centre {
  display: flex;
  gap: 10px;
}
.product-images-bottom {
  display: flex;
  gap: 10px;
}
.img-text {
  display: flex;
  flex-direction: column;
  align-items: left center;
  gap: 10px;
  width: 50%;
}
.line {
  width: 1px;
  height: 51vh;
  background-color: #bdbdbd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.blue-bold {
  color: rgb(59, 59, 129);
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
}
.a-products:hover {
  border-bottom: 1px solid magenta;
  font-weight: bold;
}
.a-products:hover ~ .products {
  height: 60vh;
  overflow: hidden;
  gap: 20px;
  opacity: 1;
  background-color: white;
  padding-top: 20px;
  opacity: 1;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.section1 {
  min-height: 50vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}
.section1 {
  min-height: 60vh;
  width: 100%;
}
.section1-img {
  width: 100%;
}
.section1-img img {
  width: 100%;
}
.section2 {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  color: rgb(59, 59, 129);
}
.section2-img img {
  height: 171px;
  width: 171px;
}
.section2-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 {
  display: flex;
  background-color: rgb(249, 231, 159);
}
.section3-start {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 35%;
  gap: 10px;
}
.start1 {
  text-transform: capitalize;
  font-size: 20px;
  color: #0e3051;
  font-weight: 700;
  font-family: "inter";
}
.start2 {
  display: flex;
}
.asap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107.13px;
  height: 35px;
  border-radius: 5px;
  background-color: yellow;
  border: 1px dashed brown;
}
.section3{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 25px;
  flex-wrap: wrap;
}
.start3 {
  display: flex;
  gap: 23px;
  align-items: center;
}
.start3-img img {
  width: 105px;
  height: 35px;
}
.section3-middle {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  padding: 20px;
}
.middle-img img{
  width: 145px;
  height: 145px;
}
.section3-end img{
  width: 414px;
  height: 207px;
}
.section3-end{
  width: 414px;
  height: 207px;
}
.section4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}
.section4-b{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 40px;
}
.section4-c{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.section4-c button{
  border: none;
  padding-bottom: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  color: #0e3051;
}
.section4-c button:hover{
  border-bottom:1px solid magenta;
}
.section4-b h4{
  font-size: 28px;
  font-weight: 700;
  color: #0e3051;
}
.section5{
  min-height: 100vh;
  display: grid;
  overflow: scroll;
  grid-template-columns: repeat(5,400px);
  padding: 20px;
  gap: 40px;
}
.section5-button{
  font-family: "inter",sans-serif;
  position: absolute;
  top: 0px;
  bottom: 30px;
  left: 140px;
  height: 40px;
  width: 155px;
  border:none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #0e3051;
}
.section5-img{
  height: 452px;
  position: relative;
}

