@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cabin", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(51, 51, 51);
  color: white;
  width: 100%;
  
}
.nav-right {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}
ion-icon {
  color: white;
  font-size: 26px;
}
.nav-right-content {
  display: flex;
  gap: 5px;
  align-items: center;
}
.small-line {
  height: 27px;
  width: 1px;
  background-color: #555555;
  margin: 10px;
}
#birla {
  height: 45px;
  width: 45px;
  margin: 8px;
}
.nav-left {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.delivery {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.nav-left select,
option {
  border: none;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 5px;
  outline: none;
}
.nav2 {
  display: inline-block;
  height: 15vh;
  width: 100%;
  padding-bottom: 40px;
  position: relative;
}
.nav2 span{
  display: inline-block;
}
.a-tags{
  text-decoration: none;
  text-align: center;
  margin-left: 30px;
  margin-right: 5px;
}
#as{
  width: 148px;
  height: 58px;
  margin-left: 20px;
}
input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 10px;
  background-image: url(/home/images/search-interface-symbol.png);
  background-size: 25px 25px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
  font-size: 12px;
  margin-left: 30px;
}
input::placeholder {
  font-size: 12px;
}
#black-icon {
  color: black;
}
.express {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-radius: 34px;
  width: 193px;
  height: 45px;
  margin-left: 20px;
}
#delivery-lorry {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.express-lorry {
  display: flex;
  align-items: center;
}
.express-text {
  display: flex;
  flex-direction: column;
}
.express-text span {
  font-weight: 300;
  font-size: 12px;
}
.express-text a {
  font-size: 10px;
}
input::placeholder {
  font-size: 16px;
}
.products {
  height: 0vh;
  overflow: hidden;
  gap: 20px;
  display: flex;
  padding-top: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.list-container {
  display: flex;
  justify-content: space-between;
  padding-left: 61px;
  width: 40%;
  font-size: 12px;
}
.list-container ul,
li {
  list-style: none;
  line-height: 16px;
}
.product-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.products-images-top {
  font-size: 12px;
  color: blueviolet;
}
.product-img1 {
  background-image: url(/home/images/38-62469-14745.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items: end;
  padding: 40px;
}
.product-img2 {
  background-image: url(/home/images/38-62470-14746.png);
  background-position: center;
  background-size: cover;
}
.product-img3 {
  background-image: url(/home/images/38-62471-14744.png);
  background-position: center;
  background-size: cover;
}
.product-img4 {
  background-image: url(/home/images/38-62472-14971.png);
  background-position: center;
  background-size: cover;
}

.product-img {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
}
.product-images-centre{
    display: flex;
    gap: 10px;
}
.product-images-bottom{
    display: flex;
    gap: 10px;
}
.img-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.line{
    width: 1px;
    height: 60vh;
    background-color: #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.a-products:hover ~ .products{
    height: 60vh;
    overflow: hidden;
    gap: 20px;
    opacity: 1;
    padding-top: 20px;
    opacity: 1;
    transition: all  0.3s ease-in-out;
}
.section1{
  min-height: 50vh;
  width: 100%;
  background-color: red;
  margin-top: 10px;
}
.section1{
  height: 50vh;
  width: 100%;
}